*
{
	padding: 0%;
	margin: 0%;
}

#logo
{
	padding-right: 50px;
	padding-top: 1px;
	width: 250px;
	height: 150px;
}

#aside-title
{
	float: left;
}

h1
{
	font-family: Girdens;
	font-size: 50px;
	text-align: left;
	color: #331e09;
	text-shadow: 2px 2px 4px #473310;
	padding: 1%;
}

body
{
	background-image: url(bg.jpg);
	background-size: cover;
}


header
{
	padding-right: 5%;
	height: 150px;
	background-color: white;
}

ul
{
	padding-left: 5%;
}

.summary
{
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	display: block;
	padding-top: 2%;
}

.content
{
	font-family: Georgia;
	font-size: 20px;
	text-align: justify;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2%;
	padding-bottom: 4%;
	color: #915200;
	border-style: double;
	border-color: #331e09;
	border-width: 5px;
}